<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header th:fragment="header">
    <!--    <a href="../../index.html" th:href="${/index.html}">-->
    <img src="../../images/bus-logo.png" th:src="@{/images/bus-logo.png}" alt="logo" width="100" height="100">
    <!--    </a>-->
    <h1>Autopark</h1>
    <ul>
<!--        <li><a href="home.html" th:href="@{HomeServlet}">Home</a> </li>-->
<!--        <li><a href="buses.html" th:href="@{buses}">Buses</a></li>-->
<!--        <li><a href="routes.html" th:href="@{routes}">Routes</a></li>-->
<!--        <li><a href="drivers.html" th:href="@{drivers}">Drivers</a></li>-->
        <li>Home</li>
        <li>Buses</li>
        <li>Routes</li>
        <li>Drivers</li>
    </ul>
    <form class="header-form"
          role="form" action="LoginServlet" method="post">
        <input type="hidden" name="action"
               id="action" value="logout"/>
        <button type="submit">Logout</button>
    </form>
</header>
</body>
</html>