<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/style.css" th:href="@{/css/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
</head>
<body>
<section id="autopark">
    <div class="container">
        <header class="login">
            <img src="images/bus-logo.png" alt="logo" width="100" height="100">
            <h1 style="margin-left: 100px;">Autopark</h1>
        </header>
        <div class="content">
            <div class="companyname">
                <img src="../../images/userregistration.png" th:src="@{/images/userregistration.png}"
                     alt="New user registration" width="300" height="300">
            </div>
            <div class="loginform">
                <form action="RegistrationServlet" method="post">
                    <p>Username: <input type="text" name="username"/></p>
                    <p>Password: <input type="password" name="password"/></p>
                    <p><input type="submit" value="Register" style="float: right"/></p>
                </form>
                <br/>
                <a href="login.html" th:href="@{/LoginServlet}">Login</a>
            </div>
        </div>
        <div th:insert="fragments/footer :: footer"></div>
    </div>
</section>
</body>
</html>
